name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: ${{ matrix.python-version }}-build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12, 3.13]
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies with uv
        run: uv sync --all-groups

      - name: Running Tests
        run: |
          uv run pytest --junitxml=test-reports/junit.xml --cov=./ --verbose
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          file: test-reports/junit.xml
